@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media (max-width: 1920px) {
	.myLink{
		color: black;
		font-size: 18px;
		text-decoration: none;
		text-decoration-line: none;
		font-family: 'Montserrat', sans-serif;
	}

	.cardWidth {
		width: 240px;
	}	

}

@media (max-width: 1024px) {
	.myLink{
		color: black;
		font-size: 18px;
		text-decoration: none;
		text-decoration-line: none;
		font-family: 'Montserrat', sans-serif;
	}

	.cardWidth {
		width: 240px;
	}	

}

@media (max-width: 768px) {
	.fullWindowWidth {
		width: calc(100vw - var(--scrollbar-width))
	}

	.homeBorder{
		border-style: solid;
		border-color: black;
		border-width: 15px;
	}
	.myLink{
		color: black;
		font-size: 20px;
		text-decoration: none;
		text-decoration-line: none;
		font-family: 'Montserrat', sans-serif;
	}

	.cardWidth {
		min-width: 200px;
		width: 210px;
		max-width: 260px;
	}
}

@media (max-width: 426px){

	.fullWindowWidth {
		width: calc(100vw - var(--scrollbar-width))
	}

	.homeBorder{
		border-style: solid;
		border-color: black;
		border-width: 15px;
	}
	.myLink{
		color: black;
		font-size: 20px;
		text-decoration: none;
		text-decoration-line: none;
		font-family: 'Montserrat', sans-serif;
	}

	.cardProduct {
		min-width: 43vw;
		max-width: 43vw;
		width: 43vw;
		min-height: 330px;
		max-height: 330px;
		height: 330px;
		cursor: pointer;
		margin-left: 10px;
	}

	.cardImage {
		min-width: 43vw;
		max-width: 43vw;
		width: 43vw;
		min-height: 230px;
		height: 230px;
		max-height: 230px;
		object-fit: cover;
	}

	.cardTitle {
		font-size: 16px;
		min-width: 43vw;
		max-width: 43vw;
		width: 43vw;
	}
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


body {
  height:  100%;
}

.fitHeight { 
  min-height: 100%;
}


#homePicture {
	background-image: url("./pictures/home-1.jpg");
	background-size: cover;
	background-position: 75% -50%;
	height: 100vh;
	
}

#homeBar {
	display: flex;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
}

#M {
	padding-top: 3vh;
	font-size: 100px;
	color: black;
}

#MNavbar {
	color: black;
	font-size: 40px;
	font-family: 'Cardo', serif;
}

.cardo {
	font-family: 'Cardo', serif;
}



.myLink:hover {
	color: papayawhip;
	background-color: gray;
}

.white-bg {
	background-color: rgb(255,255,255);

}

.white-text{
	color: rgb(255,255,255) !important;
}

.peach{
	color: peach;
}

.linkDecor{
	text-decoration: none;
}

.mb-custom {
	margin-bottom: 5px;
}

.loginCard {
	width : 400px;
	max-width: 400px;
	background-color:  rgba(255,255,255,0.8);
}



.cardHighlight:hover {
	background-color: papayawhip;
}


.papaya-txt-1 {
	color: #ffdca2;
}

.papaya-txt-2 {
	color: #ffc86f;
}

.papaya-txt-3 {
	color: #ffc86f;
}

.papaya-txt-4 {
	color: #ffb53c;
}

.papaya-txt-5 {
	color: #ffa109;
}

.papaya-bg-1 {
	color: #ffdca2;
}

.papaya-bg-2 {
	color: #ffc86f;
}

.papaya-bg-3 {
	color: #ffc86f;
}

.papaya-bg-4 {
	color: #ffb53c;
}

.papaya-bg-5 {
	color: #ffa109;
}