@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media (min-width: 769px) {

	.myLink{
		color: black;
		font-size: 18px;
		text-decoration: none;
		text-decoration-line: none;
		font-family: 'Montserrat', sans-serif;
	}
}

@media (max-width: 768px) {
	.homeBorder{
		border-style: solid;
		border-color: black;
		border-width: 15px;
	}
	.myLink{
		color: black;
		font-size: 20px;
		text-decoration: none;
		text-decoration-line: none;
		font-family: 'Montserrat', sans-serif;
	}
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height:  100%;
}

.fitHeight {
  min-height: 100%;
}


#homePicture {
	background-image: url("./pictures/home-1.jpg");
	background-size: cover;
	background-position: 75% -50%;
	height: 100vh;
	width: 100vw;
}

#homeBar {
	display: flex;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
}

#M {
	padding-top: 3vh;
	font-size: 100px;
	color: black;
}

#MNavbar {
	color: black;
	font-size: 40px;
	font-family: 'Cardo', serif;
}

.cardo {
	font-family: 'Cardo', serif;
}



.myLink:hover {
	color: gold;
}

.white-bg {
	background-color: rgb(255,255,255);

}

.white-text{
	color: rgb(255,255,255) !important;
}

.peach{
	color: peach;
}

.loginBig {
	width: 33vw;
}

.linkDecor{
	text-decoration: none;
}

.mb-custom {
	margin-bottom: 5px;
}